/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 *  SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        home_row_mods: home_row_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            quick-tap-ms = <400>;
            require-prior-idle-ms = <400>;
            flavor = "hold-preferred";
        };

        num_and_symbol: num_and_symbol {
            compatible = "zmk,behavior-hold-tap";
            label = "NUM_AND_SYMBOL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            quick-tap-ms = <400>;
            require-prior-idle-ms = <400>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp TAB         &kp Q    &kp W    &kp E    &kp R     &kp T                                     &kp Y              &kp U           &kp I          &kp O             &kp P            &kp BACKSLASH
&kp GRAVE       &lt 1 A  &lt 2 S  &lt 3 D  &lt 4 F   &kp G                                     &kp H              &lt 4 J         &lt 3 K        &lt 2 L           &lt 1 SEMICOLON  &kp ENTER
&kp LEFT_SHIFT  &kp Z    &kp X    &kp C    &kp V     &kp B                                     &kp N              &kp M           &kp COMMA      &kp PERIOD        &kp SLASH        &kp RIGHT_SHIFT
&none           &none    &kp ESC  &mo 2    &mo 0     &kp SPACE  &none           &none          &mo 0              &mo 2           &kp BACKSPACE  &kp SINGLE_QUOTE  &none            &none
                                  &none    &kp LGUI  &kp LCTRL  &kp LEFT_ALT    &kp RIGHT_ALT  &kp RIGHT_CONTROL  &kp RIGHT_META  &none
            >;

            sensor-bindings = <&inc_dec_kp A C_VOL_DN>;
        };

        L1_numsAndSymb {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Lower";
            bindings = <
&kp HOME  &kp PAGE_UP    &kp N7        &kp N8        &kp N9          &kp DEL                          &kp DEL        &kp AMPERSAND    &kp ASTERISK  &trans     &kp LEFT_BRACKET      &kp RIGHT_BRACKET
&kp END   &kp PAGE_DOWN  &kp NUMBER_4  &kp N5        &kp NUMBER_6    &kp BACKSPACE                    &kp BACKSPACE  &kp DOLLAR       &kp PERCENT   &kp CARET  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&trans    &kp N0         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3    &trans                           &trans         &kp EXCLAMATION  &kp AT_SIGN   &kp HASH   &kp LEFT_BRACE        &kp RIGHT_BRACE
&none     &none          &kp UP_ARROW  &kp RIGHT     &kp LEFT_ARROW  &kp DOWN       &trans    &trans  &trans         &trans           &none         &none      &none                 &none
                                       &trans        &kp ENTER       &trans         &trans    &trans  &trans         &trans           &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        L2_function_stuff {
            bindings = <
&trans    &trans  &kp F7  &kp F8  &kp F9  &kp F10                    &trans  &kp LC(LEFT)  &kp UP    &kp LC(RIGHT)  &trans  &trans
&trans    &trans  &kp F4  &kp F5  &kp F6  &kp F11                    &trans  &kp LEFT      &kp DOWN  &kp RIGHT      &trans  &trans
&kp CAPS  &trans  &kp F1  &kp F2  &kp F3  &to 0                      &trans  &kp LA(LEFT)  &trans    &kp LA(RIGHT)  &trans  &trans
&trans    &trans  &trans  &trans  &trans  &trans   &trans    &trans  &trans  &trans        &trans    &trans         &trans  &trans
                          &trans  &trans  &trans   &trans    &trans  &trans  &trans        &trans
            >;
        };

        L3mousestuff {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &msc SCRL_LEFT   &mkp LCLK         &mmv MOVE_UP      &mkp RCLK        &mkp MCLK  &msc SCRL_UP
&trans  &trans  &trans  &trans  &trans  &trans                    &msc SCRL_RIGHT  &mmv MOVE_LEFT    &mmv MOVE_DOWN    &mmv MOVE_RIGHT  &trans     &msc SCRL_DOWN
&trans  &trans  &trans  &trans  &trans  &trans                    &trans           &mmv MOVE_X(100)  &mmv MOVE_Y(100)  &trans           &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans           &trans            &trans            &trans           &trans     &trans
                        &trans  &trans  &trans  &trans    &trans  &trans           &trans            &trans
            >;
        };

        homerowstuffs {
            bindings = <
&kp ESCAPE  &trans  &trans  &trans  &trans  &trans                             &trans  &kp LC(LEFT)  &kp UP        &kp LC(RIGHT)  &trans  &trans
&trans      &trans  &trans  &trans  &trans  &trans                             &trans  &kp LEFT      &kp DOWN      &kp RIGHT      &trans  &trans
&trans      &trans  &trans  &trans  &trans  &trans                             &trans  &kp LA(LEFT)  &kp LA(DOWN)  &kp LA(RIGHT)  &trans  &trans
&trans      &trans  &trans  &trans  &trans  &trans  &trans          &trans     &trans  &trans        &trans        &trans         &trans  &trans
                            &trans  &trans  &trans  &kp LEFT_WIN    &kp SPACE  &trans  &trans        &trans
            >;
        };
    };
};
