manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: e66f33a  # This is from your last successful build
      import: app/west.yml
  self:
    path: config
